<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Page :: common_head(~{::meta},'Error',~{::link},~{})}">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta http-equiv="refresh" content="10;url=/">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/error.css}">
</head>
<body>
<div th:replace="~{Page :: common_body(~{::content})}">
    <div th:fragment="content" class="vertical-box-2">
        <h1>Произошла ошибка</h1>
        <h1 th:text="'Код ответа сервера: ' + ${HttpCode}">Код ответа сервера: [Код ответа]</h1>
        <p th:text="${ResponseDescription}">Описание ошибки</p>
        <p>Вы будете перенаправлены на главную страницу.</p>
        <a class="return-button" href="/">Вернуться на главную</a>
    </div>
</div>
</body>
</html>
