<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Page :: common_head(~{::meta},'Home',~{::link},~{::script})}">
    <meta name="description" content="AI-Powered Content Hub — инновационная платформа для публикации авторских статей с использованием инструментов искусственного интеллекта. Создавайте, редактируйте и улучшайте контент с помощью ИИ. Подходит для блогеров, писателей и всех, кто хочет делиться своими идеями онлайн.">
    <meta name="keywords" content="публикация статей, контент платформа, ИИ инструменты, искусственный интеллект, создание контента, редактирование, авторские статьи, блог, AI content hub">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/home.css}">

    <script src="/scripts/home.js" defer></script>
</head>
<body>
<div th:replace="~{Page :: common_body(~{::content})}">
    <div th:fragment="content" class="horizontal-box">
        <div class="vertical-box-left">
            <div class="menu">
                <div class="menu-background"></div>
                <div class="menu-content">
                    <div class="settings-button">
                        <div class="settings-button-prime">
                            <div class="settings-background"></div>
                            <div class="settings">настройки</div>
                        </div>
                    </div>
                    <div class="filters-button">
                        <div class="filters-button-prime">
                            <div class="filters-background"></div>
                            <div class="filters">фильтры</div>
                        </div>
                    </div>
                    <div class="searching-button">
                        <div class="searching-button-prime">
                            <div class="searching-background"></div>
                            <div class="searching">поиск</div>
                        </div>
                    </div>
                    <div class="categories-button">
                        <div class="categories-button-prime">
                            <div class="categories-background"></div>
                            <div class="categories">категории</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="articles-area">
                <div class="article" th:each="article : ${articles}">
                    <div class="icon-with-label">
                        <img class="author-icon" th:src="${article.authorIconUri}" alt="Аватар автора">
                        <div class="author-name" th:text="${article.author}">Автор статьи</div>
                    </div>
                    <div class="article-title" th:text="${article.title}">Название статьи</div>
                    <div class="article-tags" th:text="${article.information.tags}">#теги</div>
                    <div class="article-categories" th:text="${article.information.categories}">Категории</div>
                    <div class="information-row">
                        <div class="icon-with-label">
                            <img class="information-icon" src="/resources/clock_icon.png" alt="Время прочтения в минутах">
                            <div class="information-label" th:text="${article.information.timeToRead} + ' минут'">Время прочтения в минутах</div>
                        </div>
                        <div class="icon-with-label">
                            <img class="information-icon" src="/resources/created_icon.png" alt="Дата и время создания">
                            <div class="information-label" th:text="${article.information.creationDate}">Дата и время создания</div>
                        </div>
                        <div class="icon-with-label">
                            <img class="information-icon" src="/resources/status_icon.png" alt="Статус статьи">
                            <div class="information-label" th:text="${article.information.status}">Статус статьи</div>
                        </div>
                    </div>
                    <img class="article-preview" th:src="${article.previewImageUri}" alt="Обложка статьи">
                    <div class="article-fragment" th:utext="${article.fragment}">Фрагмент статьи</div>
                    <a th:href="${article.articleUri}" class="more-button">
                        <div class="more-button-text">Читать далее &gt;</div>
                    </a>
                    <div class="information-row">
                        <div class="icon-with-label">
                            <img class="information-icon" src="/resources/views_icon.png" alt="Количество просмотров">
                            <div class="information-label" th:text="${article.information.views}">Количество просмотров</div>
                        </div>
                        <div class="icon-with-label">
                            <img class="information-icon" src="/resources/likes_icon.png" alt="Количество лайков">
                            <div class="information-label" th:text="${article.information.likes}">Количество лайков</div>
                        </div>
                        <div class="icon-with-label">
                            <img class="information-icon" src="/resources/comments_icon.png" alt="Количество комментариев">
                            <div class="information-label" th:text="${article.information.comments}">Количество комментариев</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-box-right">
            <div class="searching-area">
                <label class="searching-label" for="searching-input">Поиск:</label>
                <input id="searching-input" class="searching-input" type="text" placeholder="Искать...">
                <img class="magnifier" src="resources/magnifier.png" alt="search" />
            </div>
            <div class="information-block">
                <div class="information-block-content">
                    <div class="information-title">Мы открылись!</div>
                    <div class="information-content">
                        С радостью сообщаем, что наш проект официально стартовал! Вас ждут свежие материалы, удобный интерфейс и множество интересных функций. Следите за обновлениями — впереди много нового!
                    </div>
                </div>
            </div>
            <div class="information-block">
                <div class="information-block-content">
                    <div class="information-title">Запросы ИИ</div>
                    <div class="information-content">
                        Попробуйте — нажмите на кнопку ниже и получите ответ от интеллектуального помощника.
                    </div>
                    <form id="sample-form" class="sample-button-form">
                        <button type="submit" class="sample-button">
                            <div class="sample-button-text">Проверить</div>
                        </button>
                    </form>
                    <div id="result-block" class="result-block" style="display:none;">
                        <div class="result-label">Промпт:</div>
                        <div class="result-text">Опиши осеннюю дождливую погоду красиво и поэтично.</div>
                        <div class="result-label">Ответ:</div>
                        <div id="response-text" class="result-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
