.vertical-box-2 {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 71.84vh;
  align-items: center;
}
.return-button {
  background: var(--color-main-emerald);
  padding: calc(3vh * 0.33) calc(3vh * 0.66);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  color: var(--color-white);
  font-family: "Arial-NarrowBold", sans-serif;
  font-size: calc(var(--icon-height) * 1.5);
  font-weight: 700;
}
.return-button:hover {
  text-decoration: underline;
}
.return-button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) inset;
}