/*
* {
  outline: 1px solid red;
}
*/

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.form {
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-content {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35.5vw;
  position: relative;
}
.header-content {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 13vh;
  background: var(--color-main-emerald);
  position: relative;
}
.form-logo {
  flex-shrink: 0;
  width: auto;
  height: 91%;
  position: relative;
  overflow: hidden;
}
.form-label {
  color: var(--color-pink);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: 5vh;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

html, body {
    margin: 0;
    padding: 0;
}
:root {
   --color-main-emerald: #2C3A40;
   --color-dark-green: #4F5938;
   --color-green: #626E48;
   --color-light-green: #658320;
   --color-button-green: #5d6846;
   --color-yellow: #BFB95E;
   --color-clay: #8C5B49;
   --color-pink: #D9BEB4;
   --color-gray: #D9D9D9;
   --color-gray-field: #F6F6F6;
   --color-gray-label: #868686;
   --color-gray-input: #7F7F7F;
   --color-white: #FFF;
   --color-black: #000;
}