.vertical-box-left {
  margin-left: calc(5.21% + 9.1vh);
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4.08vh;
  width: 58.16%;
}
.menu {
  --menu-height: 10vh;
  position: relative;
  left: 0;
  top: 0;
  width: 100%; /*58.16%*/
  height: var(--menu-height);
}
.menu-background {
  background: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0vh 1.29vh 1.2vh 1.29vh rgba(0, 0, 0, 0.3);
}
.menu-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.settings-button {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 75%;
  top: 0px;
}
.settings-button-prime {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.settings-background {
  background: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.settings-button:hover .settings-background {
  background: var(--color-button-green);
}
.settings {
  color: var(--color-black);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--menu-height) * 0.4);
  font-weight: 400;
  position: absolute;
  right: 9.13%;
  left: 9.13%;
  width: 81.74%;
  bottom: 27%;
  top: 28%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-button:hover .settings {
  color: var(--color-pink);
}
.filters-button {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
}
.filters-button-prime {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.filters-background {
  background: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.filters-button:hover .filters-background {
  background: var(--color-button-green);
}
.filters {
  color: var(--color-black);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--menu-height) * 0.4);
  font-weight: 400;
  position: absolute;
  right: 10.28%;
  left: 10.28%;
  width: 79.44%;
  bottom: 27%;
  top: 28%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters-button:hover .filters {
  color: var(--color-pink);
}
.searching-button {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 25%;
  top: 0;
}
.searching-button-prime {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.searching-background {
  background: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.searching-button:hover .searching-background {
  background: var(--color-button-green);
}
.searching {
  color: var(--color-black);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--menu-height) * 0.4);
  font-weight: 400;
  position: absolute;
  right: 14.19%;
  left: 14.20%;
  width: 71.61%;
  bottom: 27%;
  top: 28%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searching-button:hover .searching {
  color: var(--color-pink);
}
.categories-button {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.categories-button-prime {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.categories-background {
  background: var(--color-white);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.categories-button:hover .categories-background {
  background: var(--color-button-green);
}
.categories {
  color: var(--color-black);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--menu-height) * 0.4);
  font-weight: 400;
  position: absolute;
  right: 9.32%;
  left: 9.32%;
  width: 81.36%;
  bottom: 27%;
  top: 28%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-button:hover .categories {
  color: var(--color-pink);
}

.vertical-box-right {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4.08vh;
  width: 20.56%;
}
.searching-area {
  --searching-area-height: 10vh;
  position: relative;
  left: 0;
  top: 0;
  width: 100%; /*20.56%*/
  height: var(--searching-area-height);
  color: var(--color-white);
  box-shadow: 0vh 1.29vh 1.2vh 1.29vh rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: var(--color-white);
}
.searching-label {
  color: var(--color-black);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--searching-area-height) * 0.3);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.searching-input{
  width: 100%;
  padding: 1%;
  padding-right: calc(var(--searching-area-height) * 0.3 + var(--searching-area-height) * 0.1 + 1%);
  border: 2px solid black;
  border-radius: 8px;
  background-color: var(--color-white);
  color: gray;
  font-size: calc(var(--searching-area-height) * 0.3);
  outline: none;
}
.searching-input:focus{
  color: black;
}
.magnifier {
  width: calc(var(--searching-area-height) * 0.3 + var(--searching-area-height) * 0.1);
  height: calc(var(--searching-area-height) * 0.3 + var(--searching-area-height) * 0.1);
  position: absolute;
  right: 2%;
  top: 47%;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  cursor: pointer;
}

.information-block-1 {
  --information-block-1: 28.6vh;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: var(--information-block-1);
  color: var(--color-white);
  box-shadow: 0vh 1.29vh 1.2vh 1.29vh rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: var(--color-white);
}

.information-block-2 {
  --information-block-2: 25vh;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: var(--information-block-2);
  color: var(--color-white);
  box-shadow: 0vh 1.29vh 1.2vh 1.29vh rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: var(--color-white);
}

.articles-area {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  color: var(--color-white);
  box-shadow: 0vh 1.29vh 1.2vh 1.29vh rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 2%;
  gap: 5vh;
}
.article {
  position: relative;
  width: 100%;
  --icon-height: 2vh; /*14.75px*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.icon-with-label {
  display: flex;
  flex-direction: row;
  gap: 1.5vh;
  align-items: center;
  justify-content: left;
  flex-shrink: 0;
  position: relative;
}
.author-icon {
  flex-shrink: 0;
  width: calc(var(--icon-height) * 1.8);
  height: calc(var(--icon-height) * 1.8);
  position: relative;
  object-fit: cover;
}
.author-name {
  color: var(--color-black);
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: var(--icon-height);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.article-title {
  color: var(--color-main-emerald);
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: calc(var(--icon-height) * 1.5);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.article-tags {
  color: var(--color-black);
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: var(--icon-height);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.article-categories {
  color: var(--color-black);
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: var(--icon-height);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.information-row {
  display: flex;
  flex-direction: row;
  gap: 2.75vh;
  align-items: center;
  justify-content: left;
  flex-shrink: 0;
  position: relative;
}
.information-icon {
  flex-shrink: 0;
  width: var(--icon-height);
  height: var(--icon-height);
  position: relative;
  object-fit: cover;
}
.information-label {
  color: var(--color-black);
  text-align: left;
  font-family: "Arial-Narrow", sans-serif;
  font-size: var(--icon-height);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.article-preview {
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  position: relative;
}
.article-fragment {
  color: var(--color-black);
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: calc(var(--icon-height) * 1.25);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.more-button {
  background: var(--color-main-emerald);
  padding: calc(var(--icon-height) * 0.33) calc(var(--icon-height) * 0.66);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  max-width: max-content;
}
.more-button-text {
  color: var(--color-white);
  font-family: "Arial-NarrowBold", sans-serif;
  font-size: calc(var(--icon-height) * 1.5);
  font-weight: 700;
  position: relative;
  white-space: nowrap;
}