.content-area {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.field {
  background: var(--color-gray-field);
  border-radius: 15px;
  padding: 2vh 3vh;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.field:focus-within {
  outline: 2px solid var(--color-black);
}
.field-space-content {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.field-label {
  color: var(--color-gray-label);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: 2vh;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.login-input {
  color: var(--color-gray-input);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: 2.7vh;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background: rgba(0, 0, 0, 0);
}
.login-input:focus {
  color: var(--color-black);
  outline: none;
}
.eye {
  flex-shrink: 0;
  width: 4vh;
  height: 4vh;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  display: none;
}
.log-in-button {
  flex-shrink: 0;
  width: 40%;
  height: 9vh;
  position: relative;
  background: var(--color-main-emerald);
  border-radius: 8px;
  box-shadow: 0px 4px 4.5px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.log-in-button-text {
  color: var(--color-pink);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: 4.5vh;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.log-in-button:hover {
  background: var(--color-button-green);
}
.log-in-button:active {
  background: var(--color-pink);
}
.log-in-button:active .log-in-button-text {
  color: var(--color-button-green);
}
.redirect-content {
  display: flex;
  flex-direction: row;
  gap: 0.5vh;
}