/*
* {
  outline: 1px solid red;
}
*/

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.vertical-box {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 4.08vh;
}
.horizontal-box {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 4.08vh;
}
.header {
  --header-height: 10vh;
  position: relative;
  left: 0;
  top: 0;
  width 100%;
  height: var(--header-height);
  overflow: hidden;
}
.header-background {
  position: absolute;
  background: var(--color-main-emerald);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  height: 91%;
  width: auto;
  left: 5.21%;
  top: 4.5%;
  overflow: hidden;
  cursor: pointer;
}
.site-title {
  position: absolute;
  left: calc(5.21% + var(--header-height) + 40px);
  top: 0%;
  width: 100%;
  height: 100%;
  color: var(--color-pink);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
}
.site-title span {
  display: inline-block;
  line-height: 1;
}
.site-title-span1 {
  color: var(--color-pink);
  font-family: "Germania One", sans-serif;
  font-size: calc(var(--header-height) - 10px);
  font-weight: 400;
  font-style: normal;
}
.site-title-span2 {
  color: var(--color-pink);
  font-family: "Geo", sans-serif;
  font-size: calc(var(--header-height) + 6px);
  font-weight: 400;
  font-style: normal;
}
.site-title-span3 {
  color: var(--color-pink);
  font-family: "Germania One", sans-serif;
  font-size: calc(var(--header-height) + 6px);
  font-weight: 400;
  font-style: normal;
}
.sign-up-button {
  position: absolute;
  right: calc(5.21% + 10% + 80px);
  top: 10%;
  width: 16.5%;
  height: 80%;
  cursor: pointer;
}
.sign-up-background {
  background: var(--color-button-green);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4.5px 4px rgba(0, 0, 0, 0.25);
}
.sign-up-button:hover .sign-up-background {
  background: var(--color-pink);
}
.sign-up-icon {
  width: 14.29%;
  height: 56.25%;
  position: absolute;
  right: 3.17%;
  left: 82.54%;
  bottom: 26.25%;
  top: 21.875%;
  overflow: hidden;
}
.sign-up-icon-hover {
  width: 14.29%;
  height: 56.25%;
  position: absolute;
  right: 3.17%;
  left: 82.54%;
  bottom: 26.25%;
  top: 21.875%;
  overflow: hidden;
  display: none;
}
.sign-up-button:hover .sign-up-icon-hover {
  display: block;
}
.sign-up-text {
  color: var(--color-pink);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--header-height) * 0.43);
  font-weight: 400;
  position: absolute;
  right: 22.22%;
  left: 3.17%;
  width: 74.6%;
  bottom: 26.25%;
  top: 17.5%;
  height: 56.25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sign-up-button:hover .sign-up-text {
  color: var(--color-button-green);
}
.log-in-button {
  position: absolute;
  right: 5.21%;
  top: 10%;
  width: 10%;
  height: 80%;
  cursor: pointer;
}
.log-in-background {
  background: var(--color-button-green);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4.5px 4px rgba(0, 0, 0, 0.25);
}
.log-in-button:hover .log-in-background {
  background: var(--color-pink);
}
.log-in-icon {
  width: 24.46%;
  height: 56.25%;
  position: absolute;
  right: 5.43%;
  left: 70.11%;
  bottom: 26.25%;
  top: 21.875%;
  overflow: hidden;
}
.log-in-icon-hover {
  width: 24.46%;
  height: 56.25%;
  position: absolute;
  right: 5.43%;
  left: 70.11%;
  bottom: 26.25%;
  top: 21.875%;
  overflow: hidden;
  display: none;
}
.log-in-button:hover .log-in-icon-hover {
  display: block;
}
.log-in-text {
  color: var(--color-pink);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--header-height) * 0.43);
  font-weight: 400;
  position: absolute;
  right: 34.24%;
  left: 5.43%;
  width: 60.33%;
  bottom: 26.25%;
  top: 17.5%;
  height: 56.25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.log-in-button:hover .log-in-text {
  color: var(--color-button-green);
}

.footer {
  --footer-height: 10vh;
  position: relative;
  left: 0;
  top: 0;
  width 100%;
  height: var(--footer-height);
  overflow: hidden;
}
.footer-background {
  background: var(--color-main-emerald);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
._2024-content-hub {
  color: var(--color-white);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--footer-height) * 0.3);
  font-weight: 400;
  position: absolute;
  left: 5.21%;
  bottom: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation-bar {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 15%;
  align-items: center;
  justify-content: center;
  width: 45%;
  position: absolute;
  right: 5.21%;
  bottom: 35%;
}
.tech-support {
  color: var(--color-white);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--footer-height) * 0.3);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.faq {
  color: var(--color-white);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--footer-height) * 0.3);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-us {
  color: var(--color-white);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--footer-height) * 0.3);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.log-out-button {
  position: absolute;
  right: 5.21%;
  top: 10%;
  width: 10.5%;
  height: 80%;
  cursor: pointer;
}
.log-out-background {
  background: var(--color-button-green);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4.5px 4px rgba(0, 0, 0, 0.25);
}
.log-out-button:hover .log-out-background {
  background: var(--color-pink);
}
.log-out-icon {
  width: 24.31%;
  height: 56.25%;
  position: absolute;
  right: 5.43%;
  left: 70.11%;
  bottom: 26.25%;
  top: 21.875%;
  overflow: hidden;
}
.log-out-icon-hover {
  width: 24.31%;
  height: 56.25%;
  position: absolute;
  right: 5.43%;
  left: 70.11%;
  bottom: 26.25%;
  top: 21.875%;
  overflow: hidden;
  display: none;
}
.log-out-button:hover .log-out-icon-hover {
  display: block;
}
.log-out-text {
  color: var(--color-pink);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--header-height) * 0.43);
  font-weight: 400;
  position: absolute;
  right: 34.24%;
  left: 5.43%;
  width: 60.33%;
  bottom: 26.25%;
  top: 17.5%;
  height: 56.25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.log-out-button:hover .log-out-text {
  color: var(--color-button-green);
}
.profile-button {
  position: absolute;
  right: calc(5.21% + 10% + 80px);
  top: 10%;
  width: 12.7%;
  height: 80%;
  cursor: pointer;
}
.profile-background {
  background: var(--color-button-green);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4.5px 4px rgba(0, 0, 0, 0.25);
}
.profile-button:hover .profile-background {
  background: var(--color-pink);
}
.profile-icon-circle {
  width: 20.29%;
  height: 56.25%;
  position: absolute;
  right: 4.43%;
  bottom: 26.25%;
  top: 21.875%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-pink);
}
.profile-icon {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-icon-circle-hover {
  width: 20.29%;
  height: 56.25%;
  position: absolute;
  right: 4.43%;
  bottom: 26.25%;
  top: 21.875%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-button-green);
  display: none;
}
.profile-icon-hover {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.profile-button:hover .profile-icon-circle-hover {
  display: flex;
}
.profile-button:hover .profile-icon-hover {
  display: block;
}
.profile-text {
  color: var(--color-pink);
  text-align: left;
  font-family: "Georgia", sans-serif;
  font-size: calc(var(--header-height) * 0.43);
  font-weight: 400;
  position: absolute;
  right: 22.22%;
  left: 3.17%;
  width: 74.6%;
  bottom: 26.25%;
  top: 17.5%;
  height: 56.25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile-button:hover .profile-text {
  color: var(--color-button-green);
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--color-gray);
}
:root {
   --color-main-emerald: #2C3A40;
   --color-dark-green: #4F5938;
   --color-green: #626E48;
   --color-light-green: #658320;
   --color-button-green: #5d6846;
   --color-yellow: #BFB95E;
   --color-clay: #8C5B49;
   --color-pink: #D9BEB4;
   --color-gray: #D9D9D9;
   --color-white: #FFF;
   --color-black: #000;
}