app:
  initial-searching-count: 5
  timeout: 10
  initial-comments-count: 5

kafka-config:
  topics:
    identification:
      partitions: 10
      replicas: 3
    profile_showing:
      partitions: 5
      replicas: 3
    profile_editing:
      partitions: 10
      replicas: 3
    commenting:
      partitions: 10
      replicas: 1
    articles_setup:
      partitions: 5
      replicas: 1
    articles_editing:
      partitions: 20
      replicas: 1
    bans:
      partitions: 5
      replicas: 3
    reports:
      partitions: 10
      replicas: 1
    get_info:
      partitions: 5
      replicas: 3
    comments_showing:
      partitions: 20
      replicas: 1
    articles_showing:
      partitions: 20
      replicas: 2
    articles_searching:
      partitions: 10
      replicas: 3
    articles_for_feed:
      partitions: 10
      replicas: 3
    statistics:
      partitions: 20
      replicas: 2
    collection:
      partitions: 20
      replicas: 2
    authorization:
      partitions: 5
      replicas: 3

security:
  open-endpoints:
    - "/"
    - "/articles/*"
    - "/login"
    - "/register"
    - "/checked-error"
    - "/styles/*"
    - "/scripts/*"
    - "/resources/*"
    - "/api/availability"
  secured-endpoints:
    - "/authorized"
  auth-key: ${AUTH_KEY}
  expiration: 24h

spring:
  application:
    name: backend
  thymeleaf:
    prefix: classpath:/UI/static/html/
    suffix: .html
  kafka:
    bootstrap-servers:
      - localhost:9092
      - localhost:9093
      - localhost:9094
    consumer:
      auto-offset-reset: earliest
      enable-auto-commit: false
      group-id: backend_consumers
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        retry-backoff-ms: 1000
        fetch-min-bytes: 128
        fetch-max-wait-ms: 300
        isolation.level: read_committed
        spring:
          json:
            use.type.headers: true
            trusted.packages: edu.model.web.**
    producer:
      value-serializer:  org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      properties:
        min.insync.replicas: 2

server:
  port: ${BACKEND_PORT}

logging:
  config: classpath:log4j2-plain.xml

scrapper:
  base-url: http://${SCRAPPER_BASEURL_HOST}:${SCRAPPER_PORT}
  cache-size: 10485760