name: Backend Build

on:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/backend.yml
      - backend/**

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    permissions:
      packages: write
      pull-requests: write 

    services:
      zookeeper:
        image: confluentinc/cp-zookeeper:7.3.2
        ports:
          - 2181:2181
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
          ZOOKEEPER_SERVER_ID: 1
          ZOOKEEPER_SERVERS: zookeeper:2888:3888
        options: >-
          --network-alias zookeeper

      kafka-1:
        image: confluentinc/cp-kafka:7.3.2
        ports:
          - 19092:19092
        env:
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19092,PLAINTEXT_HOST://localhost:19092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_BROKER_ID: 1
        options: >-
          --network-alias kafka1
      
      kafka-2:
        image: confluentinc/cp-kafka:7.3.2
        ports:
          - 19093:19093
        env:
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19093,PLAINTEXT_HOST://localhost:19093
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_BROKER_ID: 2
        options: >-
          --network-alias kafka2
      
      kafka-3:
        image: confluentinc/cp-kafka:7.3.2
        ports:
          - 19094:19094
        env:
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19094,PLAINTEXT_HOST://localhost:19094
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_BROKER_ID: 3
        options: >-
          --network-alias kafka3

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Wait for Zookeeper
        run: until nc -z -v -w30 localhost 2181; do echo 'waiting for zookeeper'; sleep 5; done

      - name: Wait for Kafka1
        run: until nc -z -v -w30 localhost 19092; do echo 'waiting for kafka1'; sleep 5; done
        
      - name: Wait for Kafka2
        run: until nc -z -v -w30 localhost 19093; do echo 'waiting for kafka2'; sleep 5; done
        
      - name: Wait for Kafka3
        run: until nc -z -v -w30 localhost 19094; do echo 'waiting for kafka3'; sleep 5; done

      - name: maven build
        run: mvn -pl backend -am package

      - id: jacoco
        uses: madrapps/jacoco-report@v1.6.1
        if: ( github.event_name != 'workflow_dispatch' )
        with:
          paths: ${{ github.workspace }}/backend/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 30
          min-coverage-changed-files: 30
          title: Code Coverage
          update-comment: true

  checkstyle:
    name: checkstyle
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - run: mvn -pl backend -am checkstyle:check

  integration-test:
    name: integration tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - run: mvn -pl backend -am verify -Dskip.unit.tests=true